<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{ title }}</title>
    {% if description %}<meta name="description" content="{{ description }}" />{% endif %}
    <link rel="icon" href="/favicon.png" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div style="margin: 3rem auto; max-width: 600px; padding: 0 1rem;">
      {{ content | safe }}
    </div>
  </body>
</html>
